@media(max-width: 975px) {
    #page-home {
      background-position-x: 80vw;
    }
  
    #page-home .content {
      align-items: center;
      text-align: center;
    }
  
    #page-home header a {
      position: absolute;
      bottom: 46px;
      left: 50%;
      transform: translateX(-50%);
    }
  
    #page-home main {
      align-items: center;
    }

    #page-search-results .cards{
      grid-template-columns: 1fr 1fr;

    }

    #page-search-results .cards img {
      height: 250px;
    }

  }

  @media(max-width: 800px) {
    #page-search-results .cards{
      grid-template-columns: 1fr;
    }
  }
  

@media(min-width: 1700px) {
    #page-home {
        background-position-x: 40vw;
      }
}

@media(max-height: 750px) {
    #page-home {
        background-position-y: 100px;
      }
}