#modal {
    background-color: #0E0A14f0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 400ms;
}

#modal.hide {
    display: none;
}

#modal .content {
    color: white;
    width: 420px;
}

#modal .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

#modal .header a {
    background-image: url("../assets/x.svg");
    width: 20px;
    height: 20px;
    display: flex;
    font-size: 0.01px;
}

#modal .header h1 {
    color: white;
    font-size: 36px;

    line-height: 42px;
}

#modal form label{
    font-size: 18px;
    line-height: 16px;
    display: block;
    margin-bottom: 8px;
    text-align: center;
}

#modal form .search-field {
    display: flex;
}

#modal form input {
    flex: 1;
    background-color: #f0f0f5;
    border-radius: 8px 0 0 8px;
    padding: 16px 24px;
    border: 0;
    font-size: 16px;
    color: #6C6C80;
    outline: none;
}

#modal form button {
    width: 72px;
    height: 72px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

#modal form button:hover {
    background-color: #2FB86E;
}